<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/___pritamkr__/" style="color: inherit;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/pritam52/" style="color: inherit;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/pritam521410" style="color: inherit;"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div class="f-info-brand">&copy; journeyhome Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>